@import "styles/index.scss";
@import "styles/fonts.scss";


html {
  font-family: "Segoe UI";
  background-color: $color-background;
}

html,
body {
  height: 100%;
}

.constraint,
main {
  @include content();
  max-width: toRem(1280px);
  margin: 0 auto;
  padding: toRem(24px $page-indentation-small);

  @include breakpoint($layout-shift) {
    padding: toRem(24px $page-indentation-large);
  }
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: toRem(24px);
  color: $color-primary;
}

hr {
  margin: toRem(14px) -#{toRem($page-indentation-small)};
  border: 0;
  border-top: toRem(1px) solid #c0c0c0;

  @include breakpoint($layout-shift) {
    margin: toRem(20px) 0;
  }
}
